* {
  margin: 0;
  padding: 0;
}

/* 
  font-family: "Mulish", sans-serif;
  font-family: "Open Sans", sans-serif;
*/

body {
  width: 1000px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
  margin: 65px 0 58px;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #1f1534;
  opacity: 0.5;
  font-size: 18px;
}

nav ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 82px;
}

main .text {
  width: 489px;
}

.text h1 {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 40px;
}

.text h1 span {
  font-weight: bold;
  color: #89c5cc;
}

.text p {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 40px;
}

.text button {
  padding: 14px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #69b99d;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.text button:hover {
  background: #4ea788;
}

footer {
  text-align: center;
  color: #000;
  font-size: 14px;
  line-height: 28px;
}

footer a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
